body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    justify-content: start;
    margin-right: 60%;
}

.container{
    display: flex;
    flex-direction: row;
}
.blue{
    background-color:#244AC2;
   width:50%;
   margin-top: 5px;
   color: white;
}
.black{
    background-color:black;
    width:40%;
    z-index: -1;
    margin-left: 400px;
    margin-top: 5px;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.text {
    width: 50%;
    font-size: 20px;
    padding-right: 30px;
}

.visio img {
    margin: 20px;
    padding-top: 5px;
}

.card-container{
   
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    
}
.card{
    
        background-color: #061C2C;
        color: #ffffff;
        width: 24%;
        margin: 10px;
        padding: 10px;
 
}

.card-container1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:0;
    margin:0px 60px;
}

.card1{
    background-color:#244AC2;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 11%;
    margin: 10px;
    padding: 10px;
    font-size: 13px;
}

button{
    background-color:none;
}

#slider-container {
    position: relative;
    width: 100%;
    display: inline;
  }
  #slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide{
    min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
  }
  .slide img {
    width: 50%;
    height: 50vh;
  }
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 10px;
  }
  #prev-btn {
    left: 0;
  }
  #next-btn {
    right: 0;
  }
  #slide-buttons {
    text-align: center;
    margin-top: 10px;
  }
  .slide-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498DB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
